@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: #f2f29d;
}

body {
	color: rgb(var(--foreground-rgb));
	background: var(--background-rgb);
}
